{% extends 'base.html.twig' %}

{% block title %}Vos informations : {{client.NomClient}} {{client.PrenomClient}}{% endblock %}
{% block body %}
<div class="jumbotron" style="height:650px">
    <h1 class="display-5">Mon compte</h1>
    <hr class="my-4">
    <div id="menu">
        <ul class="list-group" style="float:left">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                MES INFORMATIONS
            </li>
            <a href="/">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mes informations principales
                </li>
            </a>
            <a href="/">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mes commandes
                </li>
            </a>
            <a href="/">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mes adresses
                </li>
            </a>
            <a href="/">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mes avis
                </li>
            </a>
        </ul>
    </div>
    <div id="content" style="width:75%">

    </div>
</div>
{% endblock %}